body {
    background: url('./dark-blue-background-small.jpg');
    margin: 0;
}

.footer {
    background: url('./pieces-gray-background.jpg');
    background-repeat: repeat-x;
    height: 10%;
    max-height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}